.navBar{
    background-color: #8e0303;
    color: white;
}
button{
    background-color: #3f3f3f;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
button div{
    background-color: #8e0303;
    font-size: 16px;
    font-weight: 700;
}